.place__paragraphs {
  margin: 0 16px;
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .place__paragraphs {
    margin: 0;
    min-width: 352px;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraphs {
    min-width: 456px;
  }
}

@media screen and (min-width: 1280px) {
  .place__paragraphs {
    min-width: 484px;
  }
}
